* {
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color: var(--blue1);
   

}
:root {
--light: #e0e1dd;
--blue1: #778DA9;
--blue2: #415A77;
--blue3: #1B263B;
--blue4: #0D1B2A;
}


header {
    text-align: left;
    padding-left: 5%;
    border: 1px solid var(--blue4);
    background-color: var(--blue2);
    flex-grow: 0 0 0;

}

h1 {
color: var(--light);
}



.nav, .cont-list {
    background-color: var(--blue3);
    list-style: none;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    border-bottom: 1px solid var(--blue4);
}

.nav li a, .cont-list li a {
    text-align: center;
    float: right;
    padding: 15px;
    text-decoration: none;
    font-size: larger;
    color: var(--light);

}

li a:hover {
    background-color: var(--blue2);
}

#grid {
    min-height: 90vh;
    display: grid;
}

#about {
    text-align: center;
}

#about p {
    margin-left: 25%;
    margin-right: 25%;
    font-size: larger;
    font-weight: bolder;
}

#about img {
    max-width: 300px;
}

#applications h2 {
    text-align: center;
}

.app-grid {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 20px; 
}

.app-grid li {
    margin: 3%;
    
}

footer {
    text-align: center;
    margin-top: auto;
    position: relative 0vh;
    bottom: 0;
    grid-row: auto;
  
}

hr {
    background-color: var(--blue3);
    height: 2px;
    border: none;
}

#contact h2 {
    text-align: left;
    margin-left: 10%;
}

@media screen and (min-width: 992px) {
    body {
        background-color: #778da9d5;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: var(--blue2);
    }
}

